.modal-donate {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: whitesmoke;
    width: 484px;
    height: 272px;
    z-index: 1000;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.dark-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
}

.input-nominal {
    position: absolute;
    width: 417px;
    height: 50px;
    left: 34px;
    top: 30px;

    background: rgba(188, 188, 188, 0.25);
    border: 2px solid #BCBCBC;
    box-sizing: border-box;
    border-radius: 5px;
}

.modal-donate-link {
    position: absolute;
    width: 417px;
    height: 45px;
    left: 34px;
    top: 208px;
    font-size: 18px;
    font-weight: 400;
    background: #C32424;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #fff;
    cursor: pointer;
}

.attach-img {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.attach-img button {
    position: absolute;
    width: 159px;
    height: 45px;
    left: 34px;
    top: 103px;

    font-size: 12px;
    background: #C32424;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #fff;
    cursor: pointer;
    border: none;
}

.attach-img p {
    position: absolute;
    width: 240px;
    height: 15px;
    left: 207px;
    top: 118px;

    font-size: 12px;
    line-height: 15px;
    /* identical to box height */

    display: flex;
    align-items: center;
}


@media screen and (min-width: 768px) {
    /* For desktop: */
    .modal-title {
        font-size: 32px;
    }
    
}