@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;900&family=Roboto:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;700&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    /* font-family: 'Roboto', sans-serif; */
    font-family: 'Nunito Sans', sans-serif;
}

body {
    background-color: #E5E5E5;
}

.container {
    padding: 0 8%;
}

h1 {
    font-weight: 900;
}

h3 {
    font-weight: bold;
}

.card {
    background: none;
    border: none;
    margin: 0;
    padding: 0;
}

.card-fund {
    margin: 0;
    padding: 0;
    object-fit: cover;
}

/* Navbar */

.navbar {
    background: #C32424;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    margin: 10px 100px;
}

.navbar-logo {
    height: 45px;
    width: 65px;
}

.nav-menu {
    display: flex;
    list-style: none;
}

.nav-links:hover{
    list-style: none;
    text-decoration: none;
    color: lightgray;
}

.nav-links-mobile:hover{
    list-style: none;
    text-decoration: none;
    color: gray;
}

.nav-links {
    color: #fff;
    display: flex;
    align-items: center;
    text-decoration: none;
    height: 100%;
    margin: 0 40px;
    cursor: pointer;
}

.nav-links-mobile {
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 0.5rem 1rem;
    height: 100%;
    text-align: center;
    border-radius: 10px;
    text-decoration: none;
    font-size: 14px;
    font-weight: 900;
    background-color: #fff;
    color: #C32424;
    padding: 10px 15px;
    border: 1px solid #fff;
    cursor: pointer;
}

#basic-nav-dropdown {
    position: relative;
    inset: 0px auto auto 0px;
    margin: 0px;
    /* transform: translate(-169px, 116px); */
    /* text-align: left; */
    color: transparent;
    height: 60px;
    width: 60px;
    /* background-image: url('../images/User.png'); */
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 60px;
    border: none;
    top: 0;
    margin-top: 20%;
}

/* .dropdown-menu.show {
    position: absolute;
    left: 0;
} */

.drop-container {
    border-radius: 10px;
}

  @media screen and (min-width: 768px) {
    /* For desktop: */
    .navbar-container {
        height: 55px;
    }
    
}

#exampleFormControlFile1{
    color: #C32424;
}

/* Modal */

.modal-register {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: whitesmoke;
    width: 416px;
    height: 408px;
    z-index: 1000;
    border-radius: 10px;
}

.modal-login {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: whitesmoke;
    width: 416px;
    height: 350px;
    z-index: 1000;
    border-radius: 10px;
}

.dark-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
}

.modal-sample-content {
    margin: 1rem;
    padding: 1rem;
    /* margin-top: 1rem; */
}

.modal-header {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.modal-sample-content h1 {
    font-size: 36px;
    font-weight: bold;
}

.input-group-sample {
    display: flex;
    flex-direction: column;
    margin-top: 15%;
}

.grab-input {
    margin-bottom: 20px;
    border-radius: 5px;
    padding: 5px;

    background: rgba(188, 188, 188, 0.25);
    border: 2px solid #BCBCBC;
}

.modal-sample-link {
    background: #C32424;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 20px;
    border-color: none;
    border-style: none;
    width: 100%;

    color: white;
    font-size: 18px;
    cursor: pointer;
}

.img-proof {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.img-approve {
    height: auto;
    width: 285px;
    margin-bottom: 20px;
}

.modal-approve {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: whitesmoke;
    width: 350px;
    height: 450px;
    z-index: 1000;
    border-radius: 10px;
}

/* Card */

.cards {
    width: 290px;
    height: 476px;
    overflow: hidden;
    transition: 0.3s;
    background: white;
}

.cards:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.card-image-container img{
    overflow: hidden;
    object-fit: cover;
    height: 270px;
    width: 290px;
}

/* .img-dono {
    height: 300px;
} */

.card-content {
    margin: 1rem;
    margin-top: 1rem;
}

h6, p {
    margin: 0;
    padding: 0;
}

.card-title {
    margin-bottom: 1rem;
}

.btns {
    margin: 1rem;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}

.btns button {
    background: #C32424;
    color: white;
    border: none;
    padding: 5px 25px;
    border-radius: 10px;

    font-size: 14px;
    font-weight: bolder;
}

.progress-bar{
    margin-top: 15px;
    background-color: grey;
    height: 5px;
    border-radius: 10px;
}

.progress-bar .red-team {
    background-color: #C32424;
    height: 5px;
    width: 75%;
    border-radius: 10px;
}

/* Card History */


.history-content {
    background: white;
    padding: 10px 10px;
    width: 100%;
    height: 101px;
}

.history-content p{
    color: black;
    font-size: 12px;
}

.history-content p:first-child{
    font-weight: 900;
}

.history-date {
    padding-top: 10px;
}

.history-status {
    padding-top: 15px;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: flex-start;
}

.status-card {
    background: #00ff8421;
    color: #00FF47;

    border: none;
    padding: 2px 25px;
    border-radius: 10px;
    font-size: 12px;
}

.status-donate {
    background: #C32424;
    color: #fff;

    border: none;
    padding: 2px 25px;
    border-radius: 10px;
    font-size: 14px;
}

/* Profile */

.profile-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
}

.history-container {
    width: 412px;
}

.history-container h1 {
    font-size: 24px;
    margin-bottom: 35px;
}

/* Card List-Donation */

.list-donation-content {
    background: white;
    padding: 15px;
    width: 100%;
    height: 120px;
}

.list-donation-content p{
    color: black;
}

.list-donation-name{
    padding-top: 15px;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
}

.list-donation-date {
    padding-top: 10px;
    font-weight: 900;
    font-size: 12px;
    line-height: 12px;
}

.list-donation-total {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: flex-start;
}

.list-donation-total p{
    padding-top: 15px;
    padding-bottom: 20px;
    font-weight: 900;
    font-size: 12px;
    line-height: 14px;
    color: #974A4A;
}

/* Card Profile */

.profile-card img {
    object-fit: cover;
    width: 180px;
    height: 221.79px;
}

.profile-card {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.profile-data {
    font-size: 14px;
    margin-left: 10%;
    height: 200px;
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.red-title {
    color: #C32424;
}

.history-container {
    width: 412px;
}

.history-container h1 {
    font-size: 24px;
    width: 100%;
}

/* Hero Top */

.hero-container {
    width: 100%;
    height: 619px;
    padding-top: 50px;
    background: #C42424;
}

.hero {
    position: relative;
    width: 100%;
    height: 874px;
}

.hero-content {
    width: 50%;
    margin-left: 140px;
    color: ghostwhite;
}

.hero-content h3 {
    font-size: 45px;
    font-weight: bold;
    margin-top: 0;
    width: 105%;
    line-height: 58px;
}

.hero-content p {
    width: 75%;
    line-height: 25px;
    font-size: 14px;
    padding-top: 36px;
    margin-bottom: 70px;
}


.hero-link {
    
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-decoration: none;
    width: 177px;
    height: 40px;
    border-radius: 10px;
    font-size: 14px;
    font-weight: 900;
    background-color: #fff;
    color: #C32424;
    cursor: pointer;
}


@media screen and (min-width: 768px) {
    /* For desktop: */
    .hero-content h3 {
        font-size: 40px;
        width: 95%;
    }
    
}

/* Hero Mid */


.hero-container-2 {
    width: 100%;
    height: 530px;
    padding-top: 230px;
}

.hero-2 {
    position: relative;
    width: 100%;
    height: 874px;
}

.hero-content-2 {
    width: 50%;
    margin-left: 40%;
    color: black;
}

.hero-content-2 h3 {
    font-size: 45px;
    font-weight: bold;
    margin-top: 0;
    width: 100%;
    line-height: 58px;
}

.hero-content-2 p {
    width: 80%;
    line-height: 25px;
    font-size: 14px;
    padding-top: 36px;
    margin-bottom: 70px;
    height: 210px;

    column-count: 2;
    column-gap: 60px;
    column-fill: auto;
}

/* Donate Detail Page */

.detail-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.detail-card img {
    min-height: 400px;
    max-height: 400px;

    min-width: 450px;
    max-width: 450px;
}

.detail-container {
    width: 412px;
}

.detail-container h1 {
    font-size: 32px;
    font-weight: bold;
    width: 100%;
}

.detail-container .progress{
    display: flex;
    margin: 0;
    margin-top: 50px;
    justify-content: space-between;
    align-items: center;
    width: 375px;
    height: 25px;
    font-size: 18px;
    background: none;
}

.progress p:first-child{
    color: #C32424;

}

.progressBar{
    margin-top: 18px;
    position: relative;
    background-color: grey;
    width: 100%;
    height: 5px;
    border-radius: 10px;
    width: 375px;
}
.progressBar .red-team {
    background-color: #C32424;
    width: 75%;
    height: 5px;
    border-radius: 10px;
    position: absolute;
}

.donate-info {
    margin-top: 35px;
    font-size: 14px;
}

.detail-container button {
    margin-top: 40px;
    background: #C32424;
    color: white;
    border: none;
    width: 100%;
    height: 45px;
    border-radius: 10px;
}

/* Create New Fund */

.fund-header h3 {
    font-size: 32px;
}

.btn-fund {
    background: #C32424;
    color: white;
    border: none;
    padding: 5px 20px;
    border-radius: 10px;
}

#label-thumb{
    background: #C32424;
    color: white;
    border: none;
    padding: 5px 20px;
    border-radius: 10px;
    cursor: pointer;
}

#file-chosen{
    margin-left: 0.3rem;
    font-family: sans-serif;
  }

.btn-container {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.btn-fund:last-child {
    padding: 5px 10%;
    
}

/* Home */



.img-1 {
   
    position: absolute;
    background: url('../images/image-1.png');
    background-size: contain;
    background-repeat: no-repeat;
    right: 0;
    width: 515px;
    height: 640px;
    top: 151px;
}

.img-2 {
   
    background: url('../images/image-2.png');
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    width: 423px;
    height: 659px;
    left: 0px;
    top: 690px;
}

.donate-container {
    width: 100%;
    height: 530px;
    padding-top: 15%;
}

.donate-container .dono-header {
    color: #C32424;
    font-weight: bold;
    font-size: 36px;
    line-height: 44px;
}

/* Raise Fund Page */



.fund-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.fund-header h3 {
    font-size: 32px;
}

.fund-header button {
    background: #C32424;
    color: white;
    border: none;
    padding: 5px 25px;
    border-radius: 10px;
}

@media screen and (min-width: 768px) {
    /* For desktop: */
    .img-1 {
        width: 515px;
        height: 640px;
        top: 151px;
    }

    .row {
        margin-top: 40px;
    }
    
    .donate-container .dono-header {
        font-size: 32px;
    }
}